.card {
}


p.ex {
    margin-top: 500px;
    margin-bottom: 500px;
    margin-right: 150px;
    margin-left: 50px;
}

body{
     background-image: url('image2.jpg');
	 background-color: #b0c4de; 
}

div {
    box-shadow: 10px 10px 5px #000000;
} 


#tabs{
	height: 100%;
	background-color: #6495ed;
	tab-size:
}


@media (max-width: 200px) {
#tabs{
	height: 300px;
	padding-bottom: 2%
}
.card{
	margin-left: 2vw;
}



}
