@font-face{
    font-family: 'Roboto_Light';
    src:url('../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Roboto_Thin';
    src:url('../fonts/Roboto-Thin.ttf');
}
@font-face{
    font-family: 'Desyrel';
    src:url('../fonts/DESYREL.ttf');
}
@font-face{
    font-family: 'Sanford';
    src:url('../fonts/Sanford.ttf');
}
@font-face{
    font-family: 'BasicTitle';
    src:url('../fonts/basictitlefont.ttf');
}
@font-face{
    font-family: 'NevisonCasD';
    src:url('../fonts/NevisonCasD.otf');
}
@font-face{
    font-family: 'Eurofurence';
    src:url('../fonts/eurof35.ttf');
}
@font-face{
    font-family: 'Ahellya';
    src:url('../fonts/ahellya.ttf');
}
@font-face{
    font-family: 'Jasmine';
    src:url('../fonts/Jasmine%20Reminiscentse.ttf');
}
@font-face{
    font-family: 'Pistara';
    src:url('../fonts/Pistara.otf');
}
@font-face{
    font-family: 'Capsuula';
    src:url('../fonts/Capsuula.ttf');
}
@font-face{
    font-family: 'Halo';
    src:url('../fonts/HaloHandletter.otf');
}
@font-face{
    font-family: 'Trajan';
    src:url('../fonts/TrajanPro-Regular.ttf');
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"]:before {
    font-family: 'icomoon';
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e600";
}
.icon-delete:before {
    content: "\e601";
}


