

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 0 3px #000;

}
::-webkit-scrollbar-thumb {
   /* border-radius: 12px;*/
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: rgba(223, 3, 2, 0.54);
}
::-webkit-scrollbar-thumb:hover {
    border: 3px solid rgba(255,255,255,0);
    background-color: rgba(209, 27, 1, 0.81);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(237, 22, 51, 0.96);
}
::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-track-piece  {
/* 4 */

}
::-webkit-resizer                { /* 7 */ }