@import "fonts.css";
@import "scrollbar.css";

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.column, .columns {
    /*position: relative;*/
    /*padding-left : 0;*/
    /*padding-right: 0;*/
}
body {
    margin: 0;
    position: relative;
}
label{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.addBtn button{
    padding: 9px;
}

.centerPage{
    margin: 0 auto;
    max-width: 500px;
}


#bender { border-left-width: 2px; }

#fry { border-width: 1px 4px 1px 100px; }

body {
   
    background-color: #FFFFFF;
}

.reveal-modal .close-reveal-modal {
    font-weight: normal !important;
}

#mealList ul,
#currentMealList ul,
#selectableFoodList ul,
#foodList ul{
    margin: 0;
}
#mealList ul li:hover,
#currentMealList ul li:hover,
#selectableFoodList ul li:hover,
#foodList ul li:hover{
    background-color: rgba(224, 252, 244, 0.56);
}

#mealList ul li,
#currentMealList ul li,
#selectableFoodList ul li,
#foodList ul li{
    position: relative;
    vertical-align: middle;
    list-style: none;
    padding: 4px 2px;
    border-top: dotted 1px #000;
}
#mealList ul li>span,
#currentMealList ul li>span,
#selectableFoodList ul li label>span,
#foodList ul li>span{
    position: relative;
    float: right;
}
#selectableFoodList ul li label>span{
    color: #e0e0e0;
}
#selectableFoodList ul li:hover label>span{
    color: #bababa;
}
#mealList ul li>span .icon-delete,
#currentMealList ul li>span .icon-delete,
#foodList ul li>span .delete{
    cursor: pointer;
    padding: 5px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}
#mealList ul li:hover>span .icon-delete,
#currentMealList ul li:hover>span .icon-delete,
#foodList ul li:hover>span .icon-delete{
    background-color: #ff8339;
    color: #ffffff;
}

#selectableFoodList input[type=checkbox]{
    display: none;
}
#selectableFoodList input[type=checkbox]:checked + label span{
    font-size: 20px;
    color: #1EE71E;
}
#selectableFoodList label{
    width: 100%;
    height: 100%;
    margin: 0;
}


