@import "fonts.css";
@import "scrollbar.css";

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.column, .columns {
    /*position: relative;*/
    /*padding-left : 0;*/
    /*padding-right: 0;*/
}
body {
    margin: 0;
    position: relative;
}
label{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.addBtn button{
    padding: 9px;
}

.centerPage{
    margin: 0 auto;
    max-width: 500px;
}
.reveal-modal .close-reveal-modal {
    font-weight: normal !important;
}

#selectableFoodList ul,
#foodList ul{
    margin: 0;
}
#selectableFoodList ul li:hover,
#foodList ul li:hover{
    background-color: rgba(224, 252, 244, 0.56);
}
#selectableFoodList ul li,
#foodList ul li{
    position: relative;
    vertical-align: middle;
    list-style: none;
    padding: 1px 2px;
    border-top: dotted 1px #000;
}
#selectableFoodList input[type=checkbox]{
    display: none;
}
#selectableFoodList input[type=checkbox]:checked + label{
    color: red;
    background-color: #007095;
}
#selectableFoodList label{
    width: 100%;
    height: 100%;
    margin: 0;
}


