@import "fonts.css";
@import "scrollbar.css";

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.column, .columns {
    position: relative;
    /*padding-left : 0;*/
    /*padding-right: 0;*/
}
body {
    margin: 0;
}
label{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.addBtn button{
    padding: 9px;
}
.centerPage{
    margin: 0 auto;
    max-width: 500px;
}


