@import "fonts.css";
@import "scrollbar.css";

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    left:0;right:0;
    position: relative;
    background-color: #FFFFFF;
    z-index: 23;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
nav.top-bar{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}
nav.top-bar a,
nav.top-bar ul{
    background: transparent !important;
}
nav.top-bar a:hover{
    background-color: rgba(0,0,0,0.4) !important;
}
nav.top-bar a:active{
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: inset 0 0 4px #000;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
    background-color: rgba(62, 169, 178,0.7) !important;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover{
    background-color: rgba(62, 169, 178,0.9) !important;
}
.addBtn button{
    padding: 9px;
}

.centerPage{
    margin: 0 auto;
    max-width: 500px;
}
.reveal-modal{
    z-index: 100!important;
}
.reveal-modal .close-reveal-modal {
    font-weight: normal !important;
}
main{
    z-index: 100;
    background-color: rgba( 255,255,255,0.81);
    border-radius: 4px;
    padding: 8px;
}
#currentMealList {
    float: none !important;
}
#mealList ul,
#currentMealList ul,
#selectableFoodList ul,
#foodList ul{
    margin: 0;
}

#mealList ul li:hover,
#currentMealList ul li:hover,
#selectableFoodList ul li:hover,
#foodList ul li:hover{
    background-color: rgba(255, 240, 213, 0.56);
}

#mealList ul li,
#currentMealList ul li,
#selectableFoodList ul li,
#foodList ul li{
    position: relative;
    vertical-align: middle;
    list-style: none;
    padding: 4px 2px;
    border-top: dotted 1px #000;
    min-height: 34px;
}
#mealList ul li>span,
#currentMealList ul li>span,
#selectableFoodList ul li label>span,
#foodList ul li>span{
    position: relative;
    float: right;
}
#selectableFoodList ul li label>span{
    color: #e0e0e0;
}
#selectableFoodList ul li:hover label>span{
    color: #bababa;
}
#mealList ul li>span .icon-delete,
#currentMealList ul li>span .icon-delete,
#foodList ul li>span .delete{
    cursor: pointer;
    padding: 5px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}
#mealList ul li:hover>span .icon-delete,
#currentMealList ul li:hover>span .icon-delete,
#foodList ul li:hover>span .icon-delete{
    background-color: #ff8339;
    color: #ffffff;
}

#selectableFoodList input[type=checkbox]{
    display: none;
}
#selectableFoodList input[type=checkbox]:checked + label span{
    font-size: 20px;
    color: #1EE71E;
}
#selectableFoodList label{
    width: 100%;
    height: 100%;
    margin: 0;
}

#picSlider{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.orbit-container{
    overflow: visible !important;
    bottom: 0;
    top: 0;
    position: relative;
    background: none;
}
.orbit-caption{
    font-family: Roboto_Thin, sans-serif;
    background-color: rgba(0,0,0,0.3) !important;
    text-shadow: 0 0 4px #000;
}
.orbit-container,
.orbit-slides-container li{
    height: 100%;
}
.orbit-container img{
    width: 100%;
}

.orbit-bullets-container{
    position: absolute;
    margin: 0 5px;
    bottom: 45px;
    right: 5px;
}
.orbit-bullets-container .orbit-bullets{
    margin: 0 auto;
    top: 0;
}
.orbit-bullets-container .orbit-bullets li{
    border-radius: 0;
    height: 1px;
}
.orbit-container .orbit-timer{
    top: auto !important;
    left: 40px;
    bottom: 30px;
}
.orbit-container .orbit-timer>span {
    height: 10px;width: 3px;
    border: none;
    border-left: solid 3px #fff;
    border-right: solid 3px #fff;

}
.orbit-container .orbit-timer.paused>span {
    height: 0;width: 0;
}


/*FOR ANDROID APK*/
#bender { border-left-width: 2px; }

#fry { border-width: 1px 4px 1px 100px; }
