@import "fonts.css";
@import "scrollbar.css";

*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;

}

body {
    margin: 0;
    left:0;right:0;
    position: relative;
    background-color: #FFFFFF;
    z-index: 23;
}
body.login{
    background: url("../img/back%20(6).jpg") center top;
    margin: 0 auto;
    max-width: 800px;
}
body.login #login form,
body.login #login{
    max-width: 320px;
    min-width: 300px;
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    margin: 0;
    border-radius: 3px;
}

body.login #login form{
    font-family: Eurofurence, sans-serif;
    font-size: 37px;
    opacity: 0.8;
    background: rgba(0,0,0,0.4);

}
body.login #login form>div{
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    color: #ffffff;
}
body.login #password {
    font-family: sans-serif;
}
body.login label{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
body.login input[type='text'],
body.login input[type='password']{
    background: transparent;
    color: white;
}
body.login button[type='submit']{
    font-family: Eurofurence, sans-serif;
    font-size: 20px;
    width: 100%;
    border: 1px solid #85E875;
    background-color: rgba(23, 221, 23, 0.6);
}
body.login button[type='submit']:hover{
    background-color: rgba(23, 221, 23, 0.9);
}
body.login button[type='submit']:active{
    background-color: rgba(30, 249, 30, 0.90);
}
body.login #backblur{
    background: url("../img/back%20(6).jpg") 72% top;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 5px;
    -webkit-filter: blur(20px);
}
main,
main select{
    font-family: Roboto_Light, sans-serif;
    font-size: 14px;
}
main select{
    border: 1px solid #008cba;
}
label[for='meals'],.listHead{
    font-family: Eurofurence ,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #008cba;
    background-color: rgba(0, 140, 186, 0.09);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px;
    border-bottom: 1px white solid
}
.listHead{
    background-color: #595959;
    color: #f5f5f5;
    padding: 6px;
}
.displayArea{
    font-family: Roboto_Light;
    line-height: 35px;
    width: 100%;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    color: #5572bd;
}
nav.top-bar{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}
nav.top-bar a,
nav.top-bar ul{
    background: transparent !important;
}
nav.top-bar a:hover{
    background-color: rgba(0,0,0,0.4) !important;
}
nav.top-bar a:active{
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: inset 0 0 4px #000;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
    background-color: rgba(62, 169, 178,0.7) !important;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover{
    background-color: rgba(62, 169, 178,0.9) !important;
}
.addBtn button{
    padding: 9px;
}

.centerPage{
    margin: 0 auto;
    max-width: 500px;
}
.reveal-modal{
    z-index: 100!important;
}
.reveal-modal .close-reveal-modal {
    font-weight: normal !important;
}
main{
    z-index: 100;
    background-color: rgba( 255,255,255,0.81);
    border-radius: 4px;
    padding: 8px;
}
#currentMealList {
    float: none !important;
}
#mealList ul,
#currentMealList ul,
#selectableFoodList ul,
#foodList ul{
    margin: 0;
}

#mealList ul li:hover,
#currentMealList ul li:hover,
#selectableFoodList ul li:hover,
#foodList ul li:hover{
    background-color: rgba(255, 240, 213, 0.56);
}

#mealList ul li,
#currentMealList ul li,
#selectableFoodList ul li,
#foodList ul li{
    font-family: Roboto_Light, sans-serif;
    font-size: 14px;
    position: relative;
    vertical-align: middle;
    list-style: none;
    padding: 4px 2px;
    border-top: dotted 1px #000;
}
#mealList ul li>span,
#currentMealList ul li>span,
#selectableFoodList ul li label>span,
#foodList ul li>span{
    position: relative;
    float: right;
}
#selectableFoodList ul li label>span{
    color: #e0e0e0;
}
#selectableFoodList ul li:hover label>span{
    color: #bababa;
}
#mealList ul li>span .icon-delete,
#currentMealList ul li>span .icon-delete,
#foodList ul li>span .icon-delete{
    cursor: pointer;
    padding: 5px;
    margin: 0 0 0 5px;
    border-radius: 2px;
}
#mealList ul li:hover>span .icon-delete,
#currentMealList ul li:hover>span .icon-delete,
#foodList ul li:hover>span .icon-delete{
    background-color: #ff8339;
    color: #ffffff;
}

#selectableFoodList input[type=checkbox]{
    display: none;
}
#selectableFoodList input[type=checkbox]:checked + label span{
    font-size: 20px;
    color: #1EE71E;
}
#selectableFoodList label{
    width: 100%;
    height: 100%;
    margin: 0;
}

#picSlider{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.orbit-container{
    overflow: visible !important;
    bottom: 0;
    top: 0;
    position: relative;
    background: none;
}
.orbit-caption{
    font-family: Roboto_Thin, sans-serif;
    background-color: rgba(0,0,0,0.3) !important;
    text-shadow: 0 0 4px #000;
}
.orbit-container,
.orbit-slides-container li{
    height: 100%;
}
.orbit-container img{
    width: 100%;
}

.orbit-bullets-container{
    position: absolute;
    margin: 0 5px;
    bottom: 45px;
    right: 5px;
}
.orbit-bullets-container .orbit-bullets{
    margin: 0 auto;
    top: 0;
}
.orbit-bullets-container .orbit-bullets li{
    border-radius: 0;
    height: 1px;
}
.orbit-container .orbit-timer{
    top: auto !important;
    left: 40px;
    bottom: 30px;
}
.orbit-container .orbit-timer>span {
    height: 10px;width: 3px;
    border: none;
    border-left: solid 3px #fff;
    border-right: solid 3px #fff;

}
.orbit-container .orbit-timer.paused>span {
    height: 0;width: 0;
}


/*FOR ANDROID APK*/
#bender { border-left-width: 2px; }

#fry { border-width: 1px 4px 1px 100px; }
